*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#f5f5f5;
}

/* =========================
   DESKTOP
========================= */

.desktop-layout{
    width:100%;
    min-height:100vh;
    display:flex;
}

.left{
    width:50%;
    background:linear-gradient(to bottom right,#14314d,#09122f);
    display:flex;
    justify-content:center;
    align-items:center;
    color:white;
    padding:50px;
}

.left-content h1{
    font-size:48px;
    margin-bottom:20px;
}

.left-content p{
    width:400px;
    line-height:1.7;
    color:#d8d8d8;
}

.right{
    width:50%;
    background:white;
    display:flex;
    justify-content:center;
    align-items:center;
}

.register-box{
    width:430px;
    border:1px solid #ddd;
    border-radius:10px;
    padding:30px;
}

.register-box h2{
    margin-bottom:8px;
}

.sub-text{
    font-size:14px;
    color:gray;
    margin-bottom:25px;
}

.row{
    display:flex;
    gap:15px;
    margin-bottom:18px;
}

.form-group{
    width:100%;
}

.form-group label{
    display:block;
    margin-bottom:6px;
    font-size:13px;
    font-weight:bold;
}

.form-group{
    width:100%;
    position:relative;
}

.form-group i{
    position:absolute;
    left:15px;
    top:35px;

    color:#9bb2c9;
    font-size:16px;

    pointer-events:none;
}

.form-group input{
    width:100%;
    padding:16px 12px 12px 35px;

    border:none;
    background:#f3f4f8;
    border-radius:5px;
    outline:none;
}


.checkbox{
    display:flex;
    align-items:center;
    gap:8px;
    font-size:13px;
    color:#666;
    margin-bottom:20px;
}

.checkbox a{
    color:#2fbf71;
    text-decoration:none;
    font-weight:bold;
}

.btn{
    width:100%;
    padding:14px;
    border:none;
    background:#09122f;
    color:white;
    border-radius:6px;
    font-weight:bold;
    cursor:pointer;
}

.login-text{
    text-align:center;
    margin-top:18px;
    font-size:14px;
}

.login-text a{
    text-decoration:none;
    color:#2fbf71;
    font-weight:bold;
}

/* =========================
   MOBILE
========================= */

.mobile-layout{
    display:none;
    min-height:100vh;
    background:#f7f7f7;
    padding:20px;
}

.mobile-box{
    width:100%;
}

.mobile-box h2{
    font-size:32px;
    margin-bottom:10px;
}

.mobile-sub{
    font-size:14px;
    color:gray;
    margin-bottom:30px;
    line-height:1.5;
}

.mobile-box .form-group{
    margin-bottom:18px;
}

.mobile-box .form-group label{
    font-size:12px;
    letter-spacing:1px;
}

.mobile-check{
    margin-top:10px;
}

.mobile-btn{
    width:100%;
    padding:14px;
    background:black;
    color:white;
    border:none;
    border-radius:8px;
    margin-top:20px;
    font-weight:bold;
    cursor:pointer;
}

/* =========================
   RESPONSIVE
========================= */

@media(max-width:768px){

    .desktop-layout{
        display:none;
    }

    .mobile-layout{
        display:block;
    }

}